<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add a ToDo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add a ToDo</li>
  </ol>
</nav>
<section id="todocontainer">
  <h2 style="padding-top: 30px; padding-bottom: 20px;" class="text-center">Add a ToDo</h2>
<div class="d-flex justify-content-center">
<form action="#" th:action="@{/createToDo}" th:object ="${todo}"
      method="post">
  <input type="hidden" th:field="*{id}" />
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
  </div>
  <div class="form-group"> <!-- Date input -->
    <label class="control-label" for="date">Deadline</label>
    <input class="form-control" id="date" name="deadline" input type = "date" th:field="*{deadline}"/>
  </div>
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary"  th:value="Save">Submit</button>
  </div>
</form>
</div>
</section>