<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ToDos </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">ToDos</li>
  </ol>
</nav>
<table class = "table">
  <thead>
  <tr>
    <th> Id </th>
    <th> Description </th>
    <th>Complete</th>
    <th>Deadline</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${todos.empty}">
    <td colspan="2"> No ToDos Available </td>
  </tr>
  <tr th:each="todo : ${todos}">
    <td><span th:text="${todo.id}"> Id </span></td>
    <td><span th:text="${todo.description}"> Description </span></td>
    <td><span th:text="${todo.complete}"> Status </span></td>
    <td><span th:text="${#dates.format (todo.deadline, 'dd-MM-yyyy')}">Deadline</span></td>
    <td >
      <a th:href="@{/edit/{id}(id=${todo.id})}" class="btn btn-info">Update</a>
      <a th:href="@{/delete/{id}(id=${todo.id})}" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a href = "/addtodo" class = "btn btn-primary btn-lg ml-3"> Add a todo</a>
</body>